
body{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

/*############ HEABER ############*/

#header{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 500;
    width: 100%;
    height: 80px;
    background-image: url('images/wood-bg.png');
    background-repeat: repeat-x;
}

#header img{
    display: block;
    margin: auto;
    height: 70%;
    padding-top: 15px;
}

/*############ TOP-TAB ############*/

#tabs-top{
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: darkgreen;
}

#tabs-top a{
    float: left;
    display: block;
    width: 33%;
    height:35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}

/*############ MAIN-HOME ############*/

#main-home{
    margin-top: 120px;
}

#main-home video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
}

/*############ BOTTOM-TABS ############*/

#tabs-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: forestgreen;
}

#tabs-bottom a{
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}

/*############ MAIN ############*/

#main{
    margin-top: 119px;
    background: url(images/map-blur.png);
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
}

#content{
    padding-top: 1px;
    padding-bottom: 50px;
}

/*############ INFO BOX ############*/

a.info-box{
    text-decoration: none;
    background: rgba(111, 141, 77, 0.8);
    width: 90%;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 1px;
}

.info-box img{
    height: 70px;
    margin: 10px;
    float: left;
}

.info-box h3{
    padding: 0;
    margin-bottom: 0;
    width: 90%;
    color: #572800;
}

.info-box p{
    margin: 0;
    padding: 0;
    width: 90%;
    color: #131313;
}

.info-box img.right{
    float: right;
    margin-top: 25px;
    height: 40px;
}

#info-box-full {
    margin-bottom: 60px; 
}

/*############ INFO BOX FULL ############*/

#info-box-full{
    background: rgba(92, 57, 57, 0.8);
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 10px;
}

#info-box-full img{
    width: 100%;
}

#info-box-full h3{
    text-align: center;
}

/*############ WEATHER ############*/

img.info-box-weather-icon{
    height: 30px;
    width: 30px !important;
    margin: 10px;
    float: left;
}

h1.info-box-weather-icon{
    font-size: 65px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

table{
    width: 100%;
}

td{
    border-top: 1px solid #131313;
}

/*############ FORM ############*/

input{
    width: 100%;
    height: 25px;
    margin: 12px 0;
    border: 1px solid #929292;
}

textarea{
    width: 100%;
    height: 65px;
    margin: 12px 0;
    border: 1px solid #929292;
}

.button{
    display: block;
    width: 100%;
    background-color: forestgreen;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    padding: 12px 0; 
    border-radius: 6px;
    cursor: pointer;
}
#info-box-full video{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}

/*############ GALLERY ############*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    background-color: #f8f8f8;
}

.gallery img,
.gallery video {
    width: 250px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(90, 96, 87, 0.8);
    object-fit: cover;
}










































